<h1>Edit User</h1>

<%= form_for @user, method: "put" do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username, value: @user.username %>
  <br>
  <%= form.label :email %>
  <%= form.email_field :email, value: @user.email %>
  <br>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <br>
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>
  <br>
  <%= form.submit "Update" %>
<% end %>